*{
    z-index: 0;
}

header,
footer{
    background-color: #eeeeee;
}

header{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}

.navbar-brand{
    display: flex;
    align-items: center;
}

.navbar-brand img{
    height: 64px;
}

h3,
footer p{
    margin: 0;
}

.nav-pills .nav-link{
    margin-right: 4px;
} 

.nav-pills .nav-link.active,
.btn.btn-primary{
    background-color: #000;
    color: white;
    border: 0;
}

.btn.btn-primary:hover,
.btn.btn-primary:active{
    background-color: #505050;
}

section{
    margin-top: 36px;
}

.sect-title{
    margin-bottom: 14px;
}

.sect-subtitle{
    margin-top: 12px;
    margin-bottom: 16px;
}

.carousel-img{
    width: 450px;
}

.card img{
    height: 330px;
}

#nav-tab .nav-link{
    cursor: pointer;
}

#message{
    resize: none;
    height: 150px;
}

iframe{
    width: 90%;
    height: 390px;
    border: 0;
}

footer{
    display: flex;
    align-content: center;
}

#social-media-icons{
    text-align: right;
}

#social-media-icons img{
    height: 36px;
    margin-right: 8px;
}

@media screen and (max-width: 767px) {
    .navbar-brand h3.ms-3{
        display: none;
    }

    .card img{
        height: 458.5px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-brand h3.ms-3{
        display: none;
    }

    .card{
        height: 535px;
    }
    
    .card img{
        height: 265.5px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .card{
        height: 542px;
    }

    .card img{
        height: 248px;
    }
}